PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/cash-tracker?retryWrites=true&w=majority
JWT_SECRET=CashTrackerSecret2025Seguro
JWT_EXPIRES_IN=15m
BCRYPT_SALT_ROUNDS=10
CORS_ORIGIN=http://localhost:4200